.header {
    height: 100%;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    position: sticky;
    top: 0;
    z-index: 1;

}
@media only screen and (max-width: 1500px) {
    .header {
        flex-direction: column;
        position: static;
    }
    .header__menu {
        flex-direction: column;
        gap: 10px;
    }
}
