body {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.header {
    height: 300px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__image-container {
    @media screen {
        .element {
            display: none;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.header__image-title {
    margin: 0 55px 0;
    padding: 10px;
    font-family: cursive;
    font-size: 40px;
    color: white;
}
.header__coffee-image {
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    filter: drop-shadow(0 0 3px rgba(100,0,0,0.5));
}
.header__menu{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
}
.header__link {
    padding: 60px;
}
.main {
    height: 700px;
    display: flex;
    background: orange;
    color: black;

}
.welcome {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 45px;
    font-weight: normal;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.welcome__image {
    margin: 0 35px 0;
    padding: 30px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.welcome__coffee-image {
    width: 300px;
    height: 525px;
    margin: 20px;
    border-radius: 15%;
    filter: drop-shadow(0 0 3px rgba(100,0,0,0.5));
    display: flex;
}
.welcome__text-container {
    margin: 0 35px   0;
    display: flex;
    flex-direction: column;
    justify-content: start

}
.review {
    padding: 250px 0 0 0;
}
.review__blockquote {
    font-family: cursive;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    text-align: right;
    color: black;
}
.welcome__aside-text {
    margin: 0 30px 0;
    padding: 0;
    font-style: italic;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: black;

}
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
}
.footer__goodbye-text {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    color: white;
}
.table-container {
    display: grid;
    overflow-x: auto;
}

.grid-table {
    width: 100%;
    border-collapse: collapse;
}

.grid-table th,
.grid-table td {
    padding: 10px;
    border: 1px solid black;
}

.grid-table thead th {
    background-color: lightgray;
}

.grid-table tbody tr:nth-child(even) {
    background-color: lightblue;
}

.grid-table tbody tr:nth-child(odd) {
    background-color: lightgreen;
}