.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    background: orange;
    color: black;

}
@media only screen and (max-width: 1500px) {
    .welcome {
        flex-direction: column;
    }
}